[submodule "vim-files/vim/bundle/vim-rails"]
	path = vim-files/vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim-files/vim/bundle/mru"]
	path = vim-files/vim/bundle/mru
	url = git://github.com/vim-scripts/mru.vim.git
[submodule "vim-files/vim/bundle/syntastic"]
	path = vim-files/vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim-files/vim/bundle/AutoComlPop"]
	path = vim-files/vim/bundle/AutoComlPop
	url = git://github.com/vim-scripts/AutoComplPop.git
[submodule "vim-files/vim/bundle/vim-web-indent"]
	path = vim-files/vim/bundle/vim-web-indent
	url = git://github.com/greatghoul/vim-web-indent.git
[submodule "vim-files/vim/bundle/vim-coffee-script"]
	path = vim-files/vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim-files/vim/bundle/vim-easymotion"]
	path = vim-files/vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim-files/vim/bundle/colors-solarized"]
	path = vim-files/vim/bundle/colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim-files/vim/bundle/VST"]
	path = vim-files/vim/bundle/VST
	url = git://github.com/vim-scripts/VST.git
[submodule "vim-files/vim/vim-pathogen"]
	path = vim-files/vim/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim-files/vim/bundle/vim-slim"]
	path = vim-files/vim/bundle/vim-slim
	url = https://github.com/slim-template/vim-slim.git
